@import "lib/main";

.formdesigner {
  .itext-lang-group-config {
    margin-right: 45px;
    margin-bottom: @gridGutterWidth;
    background: @navbarBackground;
    padding: @gridGutterWidth/2 @gridGutterWidth/2 @gridGutterWidth/2 0;
    .border-radius(10px);

    &:last-of-type {
      margin-bottom: 0;
    }
    .control-group:last-child {
      margin-bottom: 0;
    }
  }
}

.itext-block-container {
  margin-bottom: @gridGutterWidth;
  &:last-child {
    margin-bottom: 0;
  }

  > .btn-danger {
    margin-top: @gridGutterWidth/2;
  }
}

.fd-props-content {
  padding: 0 @gridGutterWidth;
}

.question-section {
  margin-bottom: 1em;
}

.fd-question-fieldset {
  border: none;
  position: relative;

  .accordion-heading {
    margin-bottom: 0;
  }

  .accordion-toggle {
    .transition(background .4s ease-in-out);
    &:hover {
      background-color: lighten(@grayLighter, 3);
      text-decoration: none;
    }
  }

  .accordion-inner {
    padding-bottom: @gridGutterWidth;
  }

  .fd-help {
    right: 15px;
    top: 7px;
    height: 25px;
    display: block;
    font-size: @baseFontSize*1.5;
    padding: 5px;

    &:hover {
      text-decoration: none;
      font-size: @baseFontSize*2;
      color: @green;
    }
  }
}

.well-vellum {
  margin: 0 0 @gridGutterWidth;
  background-color: desaturate(lighten(@blueLight, 50), 40);
}

.fd-mm-preview-container {
  text-align: center;
  width: 115px;
  float: left;
  img {
    padding: .5em;
    background-color: @white;
    border: 1px solid @grayLighter;
    margin-bottom: @gridGutterWidth/2;
  }
}
.fd-mm-preview-container,
.fd-mm-upload-container {
  .btn { text-transform: capitalize; }
}

.fd-mm-upload-container {
  margin-left: 125px;
  > .control-row {
    margin: 0px 0px 10px 0;
    &:first-child { height: 25px; }
  }
}

.fd-mm-path-input {
  margin-right: 92px;
}

.fd-mm-no-ref {
  color: @grayLight;
  background-color: @white;
  border: 1px solid @grayLighter;
  padding: @gridGutterWidth/2;

  i {
    display: block;
    font-size: @baseFontSize*4;
  }
}

.itext-lang-group .control-label {
  text-transform: capitalize;
}

.fd-edit-controls {
  position: absolute;
  left: 0;
  right: 0;
}

.fd-edit-button {
  position: absolute;
  right: 0;
}

.fd-itextID-controls {
  margin-right: 75px;
  position: absolute;
  left: 0;
  right: 0;
}

.fd-itextID-checkbox-container {
  width: 55px;
  padding: 0 5px;
  background-color: lighten(@green, 50);
  .border-radius(5px);
  position: absolute;
  right: 0;

  label {
    display: block;
    margin: 4px auto 5px;
  }
}

.fd-copy-paste-help .row {
  padding: 0 2em;
  margin-bottom: 2em;
}

.fd-input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  min-height: 2em;
  height: 2em;
  padding: 4px 6px 4px 6px;
  font-size: 13px;
  background: #ffffff;
  vertical-align: middle;
  color: rgb(85, 85, 85);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  &:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  }
  &[readonly=readonly] {
    cursor: not-allowed;
    background: #eeeeee;
  }
  br {
    display: none;
  }
}


.fd-textarea {
  .fd-input;
  -moz-appearance: textfield-multiline;
  min-height: 3em;
  height: 3.5em;
  overflow: auto;
  resize: both;
  word-break: break-word;
  white-space: normal;
  br {
    display: block;
  }
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: #999999;
  display: block; /* For Firefox */
}
