@import "lib/main";

.fd-tree {
  .fd-scrollable {
    overflow-x: auto;
  }
}

.fd-question-tree.jstree {
  background: @white;
}

.fd-tree-valid-alert-icon {
  // todo, investigate usage
  display:inline;
  position:absolute;
}

.fd-lang-display-selector {
  padding: @gridGutterWidth/2;
  background-color: @navbarBackground;
  text-align: center;
}

.fd-question-tree-actions {
  text-align: center;
  > div { padding-top: @gridGutterWidth/2; }
}

.fd-messages {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
}

.jstree a {
  color: darken(@blueDark, 10);
  line-height: 18px;
  padding: 1px 6px 3px !important;
  .border-radius(5px);
  &.jstree-hovered,
  &.jstree-clicked {
    border: none;
    background: desaturate(lighten(@blue, 58), 40);
  }
  &.jstree-clicked {
    .box-shadow(0px 0px 4px fade(@blue, 60%));
  }
}

.jstree a > ins.jstree-icon {
  background: none;
  font-size: .85em;
}

.jstree a > ins {
  color: @blueLight;
}
