.loadingBar{
    z-index:9999;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width:100%;
    height:100%;
    /*display:none*/
}

.myProgressBar{
    width:90%;
}

body{
    font-family:Arial;
    height:2000px;
}

#fd-question-table{
    border: 1px solid black;
    width: 50em;
}

.fd-question-property-row td{
    
}
.fd-question-table-header{
    font: bold;
}

.fd-monitor-window-textarea{
    width:49em;
    height:30em;
}

.fd-toolbar{
    padding: 5px;
    border: 1px solid black;
    margin-top: 0px;
}
#fd-trees{
    position:relative;
}
.fd-tree{
    float:left;
    width:280px;
    height: 500px;
    margin: 5px;
    border: 1px solid gray;
    overflow: auto;
}

#fd-props-advanced{
    margin-right:5px;
}

#fd-question-tree{
    clear:right;
    float:left;
    
}

#fd-data-tree-container{
    float: left;
    left: -260px;
    top:500px;
    position: absolute;
    z-index: 0;
    overflow: auto;
    margin-top: 10px;
    width:280px;
}


#fd-question-properties {
    border: 1px solid gray;
    float: left;
    margin-top: 5px;
    padding-left: 5px;
    height:500px;
    width: 500px;
    display:none;

}

td {
    text-align: center;
}

.fd-properties-block-header {
    text-align:left;
}

#fd-extra-tools{
    float:left;
    /*border: 1px solid black;*/
    height:85%;
    /*margin: 5px;*/
    padding-top: 5px;
    position: absolute;
    right: -255px;
    width: 300px;
}

#fd-extra-tools-accordion{
    float:left;
    width:250px;
}

#fd-acc-min-max{
    float:left;
}

#textDrop{
    width: 640px;
    height: 640px;
}

#fd-source{
    width: 800px;
    height: 800px;
}

.fd-property-input {
    float: right;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 0;
    width: 200px;
}

.fd-property {
    padding: 5px;
}



.fd-property-text {
    float: none;
}

#fd-question-properties ul {
    list-style-type: none;
}

#fd-question-properties ul li:nth-child(even) {
    background: #FAFAFF
}



#fd-question-properties ul li:hover{
    background: #f0f8ff;
}
#fd-question-properties ul li:nth-child(odd) {

}

.fd-props-heading {
    font-weight: bold;
}

.fd-props-validate {
    float: right;
}