.terminal{
    font-family:monospace, prestige;
    z-index:999;
    position:absolute;
    padding: 5px;
}

a{
    color:#5fba3d;
    text-decoration:underline;
}

.journaltop{
    background-color:#080808;
    color:#5fba3d;
}

h2{
    color:#5fba3d;
    font-family:monospace, prestige;
    margin: 0;
}

img{
    width:0px;
    height:0px;
}

.redback{
    background-color:#d5381a;
    color:#080808;
}

.blueback{
    background-color:#0034dc;
    color:#5fba3d;
}

.greenback{
    background-color:#5fba3d;
    color:#080808;
}

.yellowback{
    background-color:#e5df43;
    color:#d5381a;
}

.greyback{
    background-color:#888888;
    color:#ffffff;
}

.border{
    width:auto;
    height:auto;
    border-style:solid;
    border-width:3px;
    border-color:#888888;
}

.image{
    width:auto;
    height:auto;
}

.loadingBar{
    z-index:9999;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width:100%;
    height:100%;
    /*display:none*/
}

.myProgressBar{
    width:90%;
}

body{
    font-family:Arial;
    height:2000px;
}

#question-table{
    border: 1px solid black;
    width: 50em;
}

.question-property-row td{
    
}
.question-table-header{
    font: bold;
}

.monitor-window-textarea{
    width:49em;
    height:30em;
}

.toolbar{
    padding: 5px;
}

.tree{
    float:left;
    width:20%;
    height: 500px;
    margin: 0;
    border: 1px solid gray;
}

.question-properties {
    border: 1px solid gray;
    float: left;
    margin-left: 5px;
    padding: 5px;
}

td {
    text-align: center;
}

.properties-block-header {
    text-align:left;
}
