.loadingBar{
    z-index:9999;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width:100%;
    height:100%;
    /*display:none*/
}

.myProgressBar{
    width:90%;
}

body{
    font-family:Arial;
    /*height:2000px;*/
    overflow-x:hidden;
}

#fd-question-table{
    border: 1px solid black;
    width: 50em;
}

.fd-question-property-row td{
    
}
.fd-question-table-header{
    font: bold;
}

.fd-monitor-window-textarea{
    width:49em;
    height:30em;
}

.fd-toolbar{
    padding: 5px;
    /*border: 1px solid black;*/
    margin-top: 0px;
}
#fd-trees{
    position:relative;
}
.fd-tree{
    background: none repeat scroll 0 0 white;
    border: 1px solid gray;
    float: left;
    height: 900px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 235px;
}

#fd-props-advanced{
    margin-right:5px;
}

#fd-question-tree{
    clear:right;
    float:left;
    background: none;
}

#fd-data-tree{
    background: none;
}

#fd-data-tree-container{
    float: left;
    left: -260px;
    top:500px;
    position: absolute;
    z-index: 0;
    overflow: auto;
    margin-top: 10px;
    width:280px;
    display:none;
}


#fd-question-properties {
    border: 1px solid gray;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height:900px;
    width: 490px;
    display:none;
    overflow-x:hidden;  

}

#fd-ui-container td {
    text-align: center;
}

.fd-properties-block-header {
    text-align:left;
}
.fd-props-ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    /*top: -20px;*/
}

#fd-adv-props-content .fd-props-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding-top:20px;*/
    position: relative;
    top: -20px;
}

#fd-extra-tools-accordion .fd-props-ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0 0 5px;
    position: relative;
    top: -20px;
}

#fd-extra-tools{
    float:right;
    position:relative;
    border: 1px solid black;
    height:895px;
    padding-bottom:5px;
    /*margin: 5px;*/
    width: 235px;
    margin-top: 5px;
    background: white;
    z-index:4;
    padding-right: 5px; 
}

#fd-extra-tools-accordion{
    z-index:4;
    padding-left: 2px;
    padding-bottom:100px;
}

#fd-acc-min-max{
    cursor: pointer;
    float: left;
    left: -237px;
    margin: 0;
    padding: 0;
    top: 237px;
    width: 498px;
    z-index: 5;
}

#textDrop{
    width: 640px;
    height: 640px;
}

#fd-source{
    width: 800px;
    height: 800px;
}

.fd-property-input {
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 0;
    width: 80%;
}

.fd-property {
    display: table;
    padding: 5px 0 5px 5px;
    width: 100%;
}

#fd-props-head, #fd-extra-props-head {
    position: relative;
    width: 100%;
}



.fd-property-text {
    height: 50px;
    position: relative;
}

#fd-question-properties ul {
    list-style-type: none;
}

#fd-form-opts-ul {
    list-style-type: none;
}

#fd-question-properties ul li.fd-property:nth-child(even) {
    background: #FAFAFF
}

.questionButton {
    margin: 1px;
    vertical-align: middle;
    width: 200px;
}


#fd-question-properties ul li:hover{
    background: #f0f8ff;
}
#fd-question-properties ul li:nth-child(odd) {

}

.fd-props-heading {
    font-weight: bold;
}



.fd-props-validate {
    float: right;
}

.fd-head {
    /*-webkit-transform: rotate(-90deg);*/
    /*-moz-transform: rotate(-90deg);*/
    /* for ie */
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/

    /*background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;*/
    border: 1px solid #D3D3D3;
    /*color: #555555;*/
    font-size: 17px;
    font-weight: bold;
    height: 24px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 500px;
    z-index: 3;
    line-height:25px;
}

#fd-question-tree-head {
    position: relative;
    width: 100%;
}

#fd-question-tree-container {
    overflow-x:auto;
}

#fd-data-tree-head {
    cursor: pointer;
    position: relative;
    right: -238px;
    top: 236px;
    width: 500px;
}

#fd-props-content {
    padding: 5px;
    position: relative;
}

.fd-tree-valid-alert-icon {
    display:inline;
    position:absolute;
    
}

.fd-form-props-heading {
    font-weight:bold;
}

.fd-form-property {

}

.fd-form-property-text {
    
}

.fd-form-property-input {
    
}

#fd-adv-props-content {
    padding: 0;
    overflow-x: hidden;
    /*width: 100%;*/
}

#fd-opensource-button {
}

#fd-fancy-button {
    
}

.fd-template-but {
    width: 200px;
    margin: 2px;
}

#fd-ui-container {

    width: 100%;
}

#fd-min-max-button {
    float: right;
    height: 21px;
    margin: 1px;
    width: 37px;
}

.fd-prop-input-div {
    float: right;
    width:320px;
}

#fd-parsexml-button {
    float: right;
    margin-left: 2px;
    margin-right: 0;
    margin-top: 7px;
}

#fd-extra-template-questions, #fd-extra-advanced, #fd-dragons, #fd-extra-settings {
    margin: 0;
    overflow-x:hidden;
    padding-left: 2px;
}

.fd-extra-content {


}

.fd-prop-input-div-checkbox {
    float: right;
    width: 150px;
    
}

.fd-property-checkbox {
    
}

#fd-props-message {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#fd-itext-lang-select_chzn {
    float:left;
}

#fd-itext-add-lang-button {
    float: right;
}

#fd-form-saving-anim {

}

#fd-form-saving-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fd-question-add {
    float:left;
}

#fd-question-select {
    position:relative;
}

#fd-question-select_chzn {
    clear: none;
    float: left;
    margin-right: 5px;

}

#fd-add-but {
    position:relative;
}

#formdesigner {
    width: 980px;
    margin: auto;
}