/*
  Vellum Styles
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  Styles specific to standalone vellum.
*/
#formdesigner.standalone select {
  height: auto;
  width: auto;
  display: inline;
}
#formdesigner.standalone input {
  display: inline;
}
#formdesigner.standalone label {
  display: inline;
}
#formdesigner.standalone #fd-props-content fieldset div.widget {
  clear: both;
  margin-bottom: .3em;
}
#formdesigner.standalone #fd-props-content fieldset label {
  font-weight: normal;
  display: inline-block;
  padding-top: .4em;
}
#formdesigner.standalone #fd-props-content fieldset input[type="text"],
#formdesigner.standalone #fd-props-content fieldset select,
#formdesigner.standalone #fd-props-content fieldset .btn-toolbar {
  display: inline;
  width: 380px;
  float: right;
  margin: .5em 10px .5em 0;
}
#formdesigner.standalone #fd-props-content fieldset select {
  width: 220px;
  margin-right: 175px;
}
#formdesigner.standalone #fd-props-content fieldset .xpath-edit-button {
  float: right;
  margin-right: 2em;
}
#formdesigner.standalone #fd-props-content fieldset .auto-itext {
  float: right;
  margin-right: 2em;
  display: inline-block;
}
#formdesigner .container::before,
#formdesigner .container::after {
  display: none;
}
#formdesigner .dataTables_filter label,
#formdesigner .dataTables_length label {
  color: #ffffff;
  font-weight: bold;
}
#formdesigner .dataTables_filter {
  float: right;
  line-height: 20px;
}
#formdesigner .dataTables_length {
  padding-left: 10px;
  padding-top: 5px;
}
#formdesigner .dataTables_length label {
  margin-bottom: 0;
}
#formdesigner .dataTables_paginate {
  float: right;
  margin-top: 5px;
}
#formdesigner.standalone body {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
  overflow-x: hidden;
}
#formdesigner #fd-ui-container {
  top: 0;
  width: 100%;
}
#formdesigner .fd-toolbar {
  padding: 5px;
  margin-top: 0px;
  vertical-align: middle;
}
#formdesigner .fd-row {
  width: 100%;
  clear: both;
}
#formdesigner .fd-content {
  float: left;
}
#formdesigner .fd-content-left {
  width: 30%;
}
#formdesigner .fd-content-divider {
  width: 5px;
  margin: 0 1px;
  background: #f4f4f4;
}
#formdesigner .fd-scrollable {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 606px;
}
#formdesigner .fd-message {
  padding: .8em;
  margin: .8em;
}
#formdesigner .fd-head {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  height: 24px;
  padding: 0;
  text-align: center;
  z-index: 3;
  line-height: 25px;
  width: 100%;
}
#formdesigner #fd-form-saving-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#formdesigner .fd-toolbar #fd-container-question-type-group {
  display: inline-block;
  vertical-align: middle;
}
#formdesigner .fd-toolbar .btn {
  padding: 6px 10px;
}
#formdesigner .fd-toolbar .fd-question-type-group .btn.fd-question-type > span {
  display: block;
  width: 40px;
  text-align: center;
  padding: 6px 0;
}
#formdesigner .fd-toolbar .fd-question-type-group .btn:nth-of-type(2) {
  padding: 6px 6px 6px 1px;
}
#formdesigner .fd-toolbar .fd-question-type-group .btn:nth-of-type(2) .btn > span {
  width: auto;
}
#formdesigner .fd-toolbar .fd-question-type-group .btn,
#formdesigner .fd-toolbar .fd-question-type-group .btn:only-of-type {
  padding: 0;
}
#formdesigner .fd-toolbar .fd-question-type-group .btn.disabled,
#formdesigner .fd-toolbar .fd-question-type-group .btn[disabled] {
  opacity: 1;
  filter: alpha(opacity=100);
  border: 1px solid #e6e6e6;
}
#formdesigner .fd-toolbar .fd-question-type-group .btn.disabled > span,
#formdesigner .fd-toolbar .fd-question-type-group .btn[disabled] > span {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
}
#formdesigner .fd-toolbar .fd-question-type-group .btn.disabled i,
#formdesigner .fd-toolbar .fd-question-type-group .btn[disabled] i {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
#formdesigner .fd-toolbar .fd-question-type-group.fd-question-type-group-advanced .btn {
  padding: 6px 10px;
  font-size: 14px;
}
#formdesigner .fd-question-type .tooltip {
  display: absolute !important;
}
#formdesigner .fd-head {
  background: #1557a2;
  font-weight: normal !important;
  padding: 2px 0 !important;
  font-size: 15.400000000000002px !important;
}
#formdesigner .jstree a > ins.jstree-icon {
  background: none;
  font-size: .85em;
}
#formdesigner .jstree a > ins {
  color: #2787d0;
}
#formdesigner .jstree a {
  color: #37475d;
  line-height: 18px;
  padding: 1px 6px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#formdesigner .jstree a.jstree-hovered,
#formdesigner .jstree a.jstree-clicked {
  border: none;
  background: #e3effb;
}
#formdesigner .jstree a.jstree-clicked {
  -webkit-box-shadow: 0px 0px 4px rgba(21, 87, 162, 0.6);
  -moz-box-shadow: 0px 0px 4px rgba(21, 87, 162, 0.6);
  box-shadow: 0px 0px 4px rgba(21, 87, 162, 0.6);
}
#formdesigner #fd-form-actions {
  padding-right: 20px;
}
#formdesigner #fd-form-actions > div {
  display: inline-block;
}
#formdesigner #fd-save-button > .pull-right {
  float: none;
}
#formdesigner .fd-source-modal {
  left: 20px;
  margin-left: 0;
  height: 93%;
  top: 20px;
}
#formdesigner .fd-source-modal .modal-body {
  max-height: none;
}
#formdesigner .fd-source-modal .fd-source-container {
  height: 100%;
}
#formdesigner .fd-source-modal .fd-source-container > .control-row {
  height: 95%;
}
#formdesigner .fd-source-modal .fd-source-container > .control-row textarea {
  height: 100%;
}
#formdesigner #fd-messages .alert {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin: 20px;
}
#formdesigner .fd-toolbar .tooltip .tooltip-inner {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
}
#formdesigner .fd-toolbar .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
#formdesigner #fd-question-properties,
#formdesigner #fd-xpath-editor {
  display: none;
}
#formdesigner #fd-default-panel {
  border-top: 1px solid #f4f4f4;
}
#formdesigner #fd-default-panel .well {
  width: 80%;
  margin: 40px auto;
}
#formdesigner .fd-panel-toolbar {
  min-height: 46px;
  margin-bottom: 5px;
  border-bottom: 1px solid #f4f4f4;
  padding: 0 20px;
}
#formdesigner .fd-tree .fd-scrollable {
  overflow-x: auto;
}
#formdesigner #fd-question-tree {
  background: #ffffff;
}
#formdesigner .fd-tree-valid-alert-icon {
  display: inline;
  position: absolute;
}
#formdesigner .fd-lang-display-selector {
  padding: 10px;
  background-color: #f4f4f4;
  text-align: center;
}
#formdesigner #fd-question-tree-actions {
  text-align: center;
}
#formdesigner #fd-question-tree-actions > div {
  padding-top: 10px;
}
#formdesigner #fd-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#formdesigner .itext-lang-group-config {
  margin-right: 45px;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 10px 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#formdesigner .itext-lang-group-config:last-of-type {
  margin-bottom: 0;
}
#formdesigner .itext-lang-group-config .control-group:last-child {
  margin-bottom: 0;
}
#formdesigner .itext-block-container {
  margin-bottom: 20px;
}
#formdesigner .itext-block-container:last-child {
  margin-bottom: 0;
}
#formdesigner .itext-block-container > .btn-danger {
  margin-top: 10px;
}
#formdesigner #fd-props-content {
  padding: 0 20px;
}
#formdesigner .question-section {
  margin-bottom: 1em;
}
#formdesigner .fd-question-fieldset {
  border: none;
  position: relative;
}
#formdesigner .fd-question-fieldset .accordion-heading {
  margin-bottom: 0;
}
#formdesigner .fd-question-fieldset .accordion-toggle {
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
#formdesigner .fd-question-fieldset .accordion-toggle:hover {
  background-color: #f6f6f6;
  text-decoration: none;
}
#formdesigner .fd-question-fieldset > .fd-help {
  position: absolute;
  right: 15px;
  top: 7px;
  display: block;
  font-size: 28px;
  padding: 5px;
}
#formdesigner .fd-question-fieldset > .fd-help:hover {
  text-decoration: none;
  color: #46a546;
}
#formdesigner .fd-question-fieldset .accordion-inner {
  padding-bottom: 20px;
}
.well-vellum {
  margin: 0 0 20px;
  background-color: #fafbfc;
}
.fd-mm-preview-container {
  text-align: center;
}
.fd-mm-preview-container img {
  padding: .5em;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}
.fd-mm-preview-container .btn,
.fd-mm-upload-container .btn {
  text-transform: capitalize;
}
.fd-mm-upload-container > .control-row {
  margin: 0px 0px 10px 0;
}
.fd-mm-no-ref {
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 10px;
}
.fd-mm-no-ref i {
  display: block;
  font-size: 56px;
}
#formdesigner .itext-lang-group .control-label {
  text-transform: capitalize;
}
#formdesigner #fd-xpath-editor-content {
  padding: 20px;
}
#formdesigner #fd-xpath-editor .xpath-expression-group .validation-result-container {
  width: 60px;
  margin-top: -1px;
}
#formdesigner #fd-xpath-editor .xpath-expression-group .validation-result-container .validation-results {
  padding: 5px 10px;
  margin-bottom: 0;
}
#formdesigner #fd-xpath-editor .xpath-expression-group .xpath-expression-row {
  margin-left: 70px;
  margin-right: 45px;
}
#formdesigner #fd-xpath-editor .fd-xpath-editor-container fieldset {
  position: relative;
}
#formdesigner #fd-xpath-editor .xpath-mode-toggle {
  position: absolute;
  right: 0;
  top: 0;
}
#formdesigner #fd-xpath-editor-expressions {
  background-color: #f4f4f4;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#formdesigner #fd-xpath-editor-expressions .control-group:last-child {
  margin-bottom: 0;
}
