/*
  Vellum Styles
*/
/*
  Styles specific to standalone vellum.
*/
#formdesigner.standalone select {
  height: auto;
  width: auto;
  display: inline;
}
#formdesigner.standalone input {
  display: inline;
}
#formdesigner.standalone label {
  display: inline;
}
#formdesigner.standalone #fd-props-content fieldset div.widget {
  clear: both;
  margin-bottom: .3em;
}
#formdesigner.standalone #fd-props-content fieldset label {
  font-weight: normal;
  display: inline-block;
  padding-top: .4em;
}
#formdesigner.standalone #fd-props-content fieldset input[type="text"],
#formdesigner.standalone #fd-props-content fieldset select,
#formdesigner.standalone #fd-props-content fieldset .btn-toolbar {
  display: inline;
  width: 380px;
  float: right;
  margin: .5em 10px .5em 0;
}
#formdesigner.standalone #fd-props-content fieldset select {
  width: 220px;
  margin-right: 175px;
}
#formdesigner.standalone #fd-props-content fieldset .xpath-edit-button {
  float: right;
  margin-right: 2em;
}
#formdesigner.standalone #fd-props-content fieldset .auto-itext {
  float: right;
  margin-right: 2em;
  display: inline-block;
}
#formdesigner .container::before,
#formdesigner .container::after {
  display: none;
}
#formdesigner .dataTables_filter label,
#formdesigner .dataTables_length label {
  color: #ffffff;
  font-weight: bold;
}
#formdesigner .dataTables_filter {
  float: right;
  line-height: 20px;
}
#formdesigner .dataTables_length {
  padding-left: 10px;
  padding-top: 5px;
}
#formdesigner .dataTables_length label {
  margin-bottom: 0;
}
#formdesigner .dataTables_paginate {
  float: right;
  margin-top: 5px;
}
#formdesigner.standalone body {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
  overflow-x: hidden;
}
#formdesigner #fd-ui-container {
  width: 100%;
}
#formdesigner .fd-toolbar {
  padding: 5px;
  margin-top: 0px;
  vertical-align: middle;
}
#formdesigner .fd-row {
  width: 100%;
  clear: both;
}
#formdesigner .fd-content {
  float: left;
}
#formdesigner .fd-content-left {
  width: 30%;
}
#formdesigner .fd-content-divider {
  width: 5px;
  margin: 0 1px;
  background: #bbbbbb;
}
#formdesigner .fd-scrollable {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 606px;
}
#formdesigner .fd-message {
  padding: .8em;
  margin: .8em;
}
#formdesigner .fd-props-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#formdesigner #fd-form-opts-ul {
  list-style-type: none;
}
#formdesigner #fd-source {
  width: 800px;
  height: 800px;
}
#formdesigner #fd-source-help,
#formdesigner #fd-source-controls {
  width: 800px;
  padding: 1em;
}
#formdesigner .fd-props-validate {
  float: right;
}
#formdesigner .fd-head {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  height: 24px;
  padding: 0;
  text-align: center;
  z-index: 3;
  line-height: 25px;
  width: 100%;
}
#formdesigner .questionButton {
  margin: 1px;
  vertical-align: middle;
  width: 200px;
}
#formdesigner #fd-form-saving-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#formdesigner #fd-question-properties,
#formdesigner #fd-xpath-editor {
  display: none;
}
#formdesigner #fd-props-content {
  padding: 5px;
  position: relative;
}
#formdesigner #fd-props-content .ui-widget {
  font-family: inherit;
}
#formdesigner #fd-props-content h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: .5em;
}
#formdesigner #fd-props-content h2 {
  font-size: 1.1em;
  border: 1px solid lightgray;
  border-bottom: 0;
  text-align: center;
  background-color: whitesmoke;
  padding: .2em;
  font-weight: bold;
  margin-bottom: 0;
}
#formdesigner #fd-props-content .ui-accordion-content {
  padding: 1em .5em;
}
#formdesigner #fd-props-content fieldset:not(.ui-widget) {
  padding: 0 .4em .4em .4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}
#formdesigner #fd-props-content fieldset h3 {
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
}
#formdesigner .question-section {
  margin-bottom: 1em;
}
#formdesigner #fd-question-properties ul {
  list-style-type: none;
}
#formdesigner #fd-question-properties ul li.fd-property:nth-child(even) {
  background: #FAFAFF;
}
#formdesigner #fd-question-properties ul li:hover {
  background: #f0f8ff;
}
#formdesigner #fd-xpath-editor {
  /* stolen from blueprint */

}
#formdesigner #fd-xpath-editor .error,
#formdesigner #fd-xpath-editor .notice,
#formdesigner #fd-xpath-editor .success {
  padding: .4em;
  border: 2px solid #ddd;
}
#formdesigner #fd-xpath-editor .error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
#formdesigner #fd-xpath-editor .notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
#formdesigner #fd-xpath-editor .success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}
#formdesigner #fd-xpath-editor .bin-expression {
  min-height: 35px;
}
#formdesigner #fd-xpath-editor .xpath-edit-node,
#formdesigner #fd-xpath-editor .expression-part,
#formdesigner #fd-xpath-editor .op-select,
#formdesigner #fd-xpath-editor .validation-results {
  vertical-align: text-bottom;
  display: inline-block;
  margin-left: .4em;
}
#formdesigner #fd-xpath-editor .xpath-edit-node {
  width: 180px !important;
}
#formdesigner #fd-xpath-editor .validation-results {
  position: relative;
  margin-bottom: 0px;
}
#formdesigner .fd-tree .fd-scrollable {
  overflow-x: auto;
}
#formdesigner #fd-question-tree {
  background: #ffffff;
}
#formdesigner .fd-tree-valid-alert-icon {
  display: inline;
  position: absolute;
}
#formdesigner #fd-lang-disp-div {
  padding-left: 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CCC;
  font-size: .8em;
}
#formdesigner #fd-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
