#formdesigner select {
  height: auto;
  width: auto;
  display: inline;
}
#formdesigner input {
  display: inline;
}
#formdesigner label {
  display: inline;
}
#formdesigner .container::before,
#formdesigner .container::after {
  display: none;
}
#formdesigner .dataTables_filter label,
#formdesigner .dataTables_length label {
  color: #ffffff;
  font-weight: bold;
}
#formdesigner .dataTables_filter {
  float: right;
  line-height: 20px;
}
#formdesigner .dataTables_length {
  padding-left: 10px;
  padding-top: 5px;
}
#formdesigner .dataTables_length label {
  margin-bottom: 0;
}
#formdesigner .dataTables_paginate {
  float: right;
  margin-top: 5px;
}
#formdesigner .ui-accordion .ui-accordion-header a {
  font-size: 13px;
  text-align: left;
}
#formdesigner {
  /* overrides for stuff in jquery UI */

  /* new question UI styling */

  /* xpath editor styling */

  /* stolen from blueprint */

}
#formdesigner .loadingBar {
  z-index: 9999;
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /*display:none*/

}
#formdesigner .myProgressBar {
  width: 90%;
}
#formdesigner body {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
  overflow-x: hidden;
}
#formdesigner #fd-props-content .ui-widget {
  font-family: inherit;
}
#formdesigner #fd-question-table {
  border: 1px solid #bbbbbb;
  width: 50em;
}
#formdesigner .fd-question-table-header {
  font: bold;
}
#formdesigner .fd-monitor-window-textarea {
  width: 49em;
  height: 30em;
}
#formdesigner .fd-toolbar {
  padding: 5px;
  /*border: 1px solid black;*/

  margin-top: 0px;
  vertical-align: middle;
}
#formdesigner .ui-state-error a {
  font-weight: bold;
}
#formdesigner #fd-trees {
  position: relative;
}
#formdesigner .fd-tree {
  background: none repeat scroll 0 0 white;
  border: 1px solid #bbbbbb;
  float: left;
  height: 606px;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 30%;
}
#formdesigner #fd-props-advanced {
  margin-right: 5px;
}
#formdesigner #fd-question-tree {
  clear: right;
  float: left;
  background: none;
}
#formdesigner #fd-data-tree {
  background: none;
}
#formdesigner #fd-data-tree-container {
  float: left;
  left: -360px;
  /*top:500px;*/

  position: absolute;
  z-index: 0;
  overflow: auto;
  margin-top: 10px;
  width: 280px;
}
#formdesigner .fd-message {
  padding: .8em;
  margin: .8em;
}
#formdesigner #fd-question-properties,
#formdesigner #fd-xpath-editor {
  border: 1px solid #bbbbbb;
  float: right;
  margin-top: 5px;
  height: 606px;
  width: 69%;
  display: none;
  overflow-x: hidden;
}
#formdesigner #fd-ui-container td {
  text-align: center;
}
#formdesigner .fd-properties-block-header {
  text-align: left;
}
#formdesigner .fd-props-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  /*top: -20px;*/

}
#formdesigner #fd-adv-props-content .fd-props-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*padding-top:20px;*/

  position: relative;
  top: -20px;
}
#formdesigner #fd-extra-tools-accordion .fd-props-ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 0 0 5px;
  position: relative;
  top: -20px;
}
#formdesigner #fd-acc-min-max {
  cursor: pointer;
  float: left;
  left: -237px;
  margin: 0;
  padding: 0;
  top: 237px;
  width: 498px;
  z-index: 5;
}
#formdesigner #textDrop {
  width: 640px;
  height: 640px;
}
#formdesigner #fd-source {
  width: 800px;
  height: 800px;
}
#formdesigner #fd-source-help,
#formdesigner #fd-source-controls {
  width: 800px;
  padding: 1em;
}
#formdesigner .fd-property-input {
  margin-top: 0;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-top: 0;
  width: 80%;
}
#formdesigner .fd-property {
  display: table;
  padding: 5px 0 5px 5px;
  width: 100%;
}
#formdesigner #fd-props-head,
#formdesigner #fd-extra-props-head,
#formdesigner #fd-xpath-editor-head {
  position: relative;
  width: 100%;
}
#formdesigner .fd-property-text {
  height: 50px;
  position: relative;
}
#formdesigner #fd-question-properties ul {
  list-style-type: none;
}
#formdesigner #fd-form-opts-ul {
  list-style-type: none;
}
#formdesigner #fd-question-properties ul li.fd-property:nth-child(even) {
  background: #fafaff;
}
#formdesigner .questionButton {
  margin: 1px;
  vertical-align: middle;
  width: 200px;
}
#formdesigner #fd-save-button {
  float: right;
}
#formdesigner #fd-question-properties ul li:hover {
  background: #f0f8ff;
}
#formdesigner .fd-props-heading {
  font-weight: bold;
}
#formdesigner .fd-props-validate {
  float: right;
}
#formdesigner .fd-head {
  /*-webkit-transform: rotate(-90deg);*/

  /*-moz-transform: rotate(-90deg);*/

  /* for ie */

  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/

  /*background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;*/

  border: 1px solid #D3D3D3;
  /*color: #555555;*/

  font-size: 17px;
  font-weight: bold;
  height: 24px;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 500px;
  z-index: 3;
  line-height: 25px;
}
#formdesigner #fd-question-tree-head {
  position: relative;
  width: 100%;
}
#formdesigner #fd-question-tree-container {
  overflow-x: auto;
}
#formdesigner #fd-data-tree-head {
  position: relative;
  width: 100%;
}
#formdesigner #fd-props-content {
  padding: 5px;
  position: relative;
}
#formdesigner .fd-tree-valid-alert-icon {
  display: inline;
  position: absolute;
}
#formdesigner #fd-adv-props-content {
  padding: 0;
  overflow-x: hidden;
  /*width: 100%;*/

}
#formdesigner .fd-template-but {
  width: 200px;
  margin: 2px;
}
#formdesigner #fd-ui-container {
  width: 100%;
}
#formdesigner #fd-min-max-button {
  float: right;
  height: 21px;
  margin: 1px;
  width: 37px;
}
#formdesigner .fd-prop-input-div {
  float: right;
  width: 320px;
}
#formdesigner #fd-parsexml-button {
  float: right;
  margin-left: 2px;
  margin-right: 0;
  margin-top: 7px;
}
#formdesigner #fd-extra-template-questions,
#formdesigner #fd-extra-advanced,
#formdesigner #fd-dragons,
#formdesigner #fd-extra-settings {
  margin: 0;
  overflow-x: hidden;
  padding-left: 2px;
}
#formdesigner .fd-prop-input-div-checkbox {
  float: right;
  width: 150px;
}
#formdesigner #fd-props-message {
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
#formdesigner #fd-itext-lang-select_chzn {
  float: left;
}
#formdesigner #fd-itext-add-lang-button {
  float: right;
}
#formdesigner #fd-form-saving-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#formdesigner #fd-question-add {
  display: inline-block;
}
#formdesigner #fd-question-select {
  position: relative;
  width: 280px;
}
#formdesigner #fd-question-select_chzn {
  clear: none;
  float: left;
  margin-right: 5px;
}
#formdesigner #fd-add-but {
  position: relative;
}
#formdesigner #formdesigner {
  width: 996px;
}
#formdesigner #fd-props-mugtype-info {
  border: 1px solid #bbbbbb;
  text-align: center;
}
#formdesigner #xpath-edit-inner {
  padding-top: 25px;
  margin: 5px;
}
#formdesigner #fd-props-content h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: .5em;
}
#formdesigner #fd-props-content h2 {
  font-size: 1.1em;
  border: 1px solid lightgray;
  border-bottom: 0;
  text-align: center;
  background-color: whitesmoke;
  padding: .2em;
  font-weight: bold;
  margin-bottom: 0;
}
#formdesigner #fd-props-content .ui-accordion-content {
  padding: 1em .5em;
}
#formdesigner #fd-props-content fieldset:not(.ui-widget) {
  padding: 0 .4em .4em .4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}
#formdesigner #fd-props-content fieldset h3 {
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
}
#formdesigner #fd-props-content fieldset div.widget {
  clear: both;
  margin-bottom: .3em;
}
#formdesigner #fd-props-content fieldset label {
  font-weight: normal;
  display: inline-block;
  padding-top: .4em;
}
#formdesigner #fd-props-content fieldset input[type="text"],
#formdesigner #fd-props-content fieldset select,
#formdesigner #fd-props-content fieldset .btn-toolbar {
  display: inline;
  width: 380px;
  float: right;
  margin: .5em 10px .5em 0;
}
#formdesigner #fd-props-content fieldset select {
  width: 220px;
  margin-right: 175px;
}
#formdesigner #fd-props-content fieldset .xpath-edit-button {
  float: right;
  margin-right: 2em;
}
#formdesigner #fd-props-content fieldset .auto-itext {
  float: right;
  margin-right: 2em;
  display: inline-block;
}
#formdesigner .question-section {
  margin-bottom: 1em;
}
#formdesigner .error,
#formdesigner .notice,
#formdesigner .success {
  padding: .4em;
  border: 2px solid #ddd;
}
#formdesigner .error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
#formdesigner .notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
#formdesigner .success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}
#formdesigner .bin-expression {
  min-height: 35px;
}
#formdesigner .xpath-edit-node,
#formdesigner .expression-part,
#formdesigner .op-select,
#formdesigner .validation-results {
  vertical-align: text-bottom;
  display: inline-block;
  margin-left: .4em;
}
#formdesigner .xpath-edit-node {
  width: 180px !important;
}
#formdesigner .validation-results {
  position: relative;
  margin-bottom: 0px;
}
#formdesigner .dismiss-message-button {
  float: right;
}
#formdesigner #fd-lang-disp-div {
  padding-left: 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CCC;
  font-size: .8em;
}
