<div>
    <ul class="nav nav-tabs">
        <% _.each(entries, function (entry, i) { %>
        <li>
            <a class='harness-toggle'
                data-toggle='tab' href='#harness_container_<%= i %>'>
                <%= entry.title %>
            </a>
        </li>
        <% }) %>
    </ul>

    <div class="tab-content">
        <% _.each(entries, function (entry, i) { %>
        <div class="tab-pane"
            id="harness_container_<%= i %>">
        </div>
        <% }) %>
    </div>
</div>
