.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fd-tree .fd-scrollable {
  overflow-x: auto;
}
#fd-question-tree {
  background: #ffffff;
}
.fd-tree-valid-alert-icon {
  display: inline;
  position: absolute;
}
.fd-lang-display-selector {
  padding: 10px;
  background-color: #f4f4f4;
  text-align: center;
}
#fd-question-tree-actions {
  text-align: center;
}
#fd-question-tree-actions > div {
  padding-top: 10px;
}
#fd-messages {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
}
.jstree a {
  color: #37475d;
  line-height: 18px;
  padding: 1px 6px 3px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.jstree a.jstree-hovered,
.jstree a.jstree-clicked {
  border: none;
  background: #eaeff5;
}
.jstree a.jstree-clicked {
  -webkit-box-shadow: 0px 0px 4px rgba(21, 87, 162, 0.6);
  -moz-box-shadow: 0px 0px 4px rgba(21, 87, 162, 0.6);
  box-shadow: 0px 0px 4px rgba(21, 87, 162, 0.6);
}
.jstree a > ins.jstree-icon {
  background: none;
  font-size: .85em;
}
.jstree a > ins {
  color: #2787d0;
}
