<% _.each(columns, function(column) { %>
    <ul class="list-unstyled">
        <% _.each(column.groups, function(group) { %>
            <li class="fd-question-type-group <%= group.groupClass %>">
                <ul class="list-unstyled">
                    <li class="dropdown-header"><%= group.name %></li>
                    <% _.each(group.questions, function(question) { %>
                        <li>
                            <a href="#" class="fd-question-type" data-qtype="<%= question.slug %>">
                                <i class="<%= question.icon %>"></i> <%= question.name %>
                            </a>
                        </li>
                    <% }); %>
                    <% _.each(group.related, function(question) { %>
                        <li>
                            <a href="#" class="fd-question-type fd-question-type-related disabled" data-qtype="<%= question.slug %>">
                                <i class="<%= question.icon %>"></i> <%= question.name %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
<% }); %>
