<div class="fd-copy-paste-help">
    <h3>Copying and pasting questions</h3>
    <div>
        Select one or more questions in the question tree. Then use your
        keyboard or Edit > Cut/Copy/Paste to copy and paste questions.
    </div>
    <div class="row">
        <div class="span3">
            <h1><%=metachar%>C</h1>
            <span>for copy</span>
        </div>
        <div class="span3">
            <h1><%=metachar%>X</h1>
            <span>for cut</span>
        </div>
        <div class="span3">
            <h1><%=metachar%>V</h1>
            <span>for paste</span>
        </div>
    </div>
</div>
