<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Custom Data Source</h3>
  </div>
  <div class="modal-body">
      <div class="source_error alert alert-error hide">
          Invalid values. Please try again or cancel.
      </div>
      <form class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Source URI</label>
              <div class="controls">
                  <input type="text" name="source_uri" placeholder="jr://path/to/instance">
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Level name hierarchy</label>
              <div class="controls">
                  <input type="text" name="node_levels" placeholder="root/level1/level2/leaf">
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
    <a class="data_source_cancel" href="#" class="btn">Cancel</a>
    <a class="data_source_save" href="#" class="btn btn-primary">Save</a>
  </div>
</div>
