<div class="fd-data-source-editor-container form form-horizontal">

    <fieldset class="data-source-advanced">
        <legend>
            <i class="fa fa-cog"></i> <%-gettext("Edit Data Source")%>
        </legend>
        <div class="form-group">
            <label class="control-label col-sm-2">
                <%-gettext("Query Expression")%>
            </label>
            <div class="col-sm-10">
                <textarea rows="5"
                          name="query"
                          class="form-control fd-data-source-query jstree-drop"></textarea>
                <p class="help-block">
                    <a target="_blank"
                       href="https://help.commcarehq.org/display/commcarepublic/Common+Logic+and+Calculations">
                        <i class="fa fa-info-circle"></i> <%-gettext("Guide to Common Logic and Calculations")%>
                    </a>
                </p>
            </div>
        </div>
        <legend><%-gettext("Optional Instance Properties")%></legend>
        <div class="form-group">
            <label class="control-label col-sm-2">
                <%-gettext("Instance ID")%>
            </label>
            <div class="col-sm-10">
                <input name="instance-id" type="text" class="form-control jstree-drop" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">
                <%-gettext("Instance URI")%>
            </label>
            <div class="col-sm-10">
                <input name="instance-src" type="text" class="form-control jstree-drop" />
            </div>
        </div>
    </fieldset>

    <div class="form-actions form-actions-condensed fd-data-source-actions">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary fd-data-source-save-button"><%-gettext("Save")%></button>
            <button type="button" class="btn btn-default fd-data-source-cancel-button"><%-gettext("Cancel")%></button>
        </div>
    </div>
    </div>
</div>
