<div class="fd-external-sources-container">
    <div class="fd-head fd-head-external-sources">
        <div class="fd-head-max-indicator"><i class="fa fa-arrow-circle-o-down"></i></div>
        <h2><%-gettext("App Properties")%></h2>
    </div>
    <div class="fd-scrollable">
        <div class="fd-external-resource-search">
            <form class="form-inline">
                <label class="control-label" for="fdExternalSearch"><i class="fa fa-search"></i></label>
                <div class="fd-search-control">
                    <input type="text"
                        id="fdExternalSearch"
                        class="form-control search-query"
                        placeholder="<%-gettext("Search...")%>"
                        style="width: calc(100% - 42px);"
                        autocomplete="off" >
                </div>
            </form>
        </div>
        <div class="fd-external-sources-error alert alert-danger hide"></div>
        <div class="fd-external-sources-tree"></div>
    </div>
</div>
