<div class="fd-external-sources-container">
    <div class="fd-head fd-head-external-sources">
        <h2>Case Properties</h2>
    </div>
    <div class="fd-scrollable">
        <div class="fd-external-resource-search">
            <form class="form-search form-inline">
                <label class="control-label" for="fdExternalSearch"><i class="icon icon-search"></i></label>
                <div class="controls fd-search-control">
                    <input type="text"
                        id="fdExternalSearch"
                        class="input-block-level search-query"
                        placeholder="Search..."
                        style="width: calc(100% - 42px);">
                </div>
            </form>
        </div>
        <div class="fd-external-sources-tree"></div>
    </div>
</div>
