<table class="table table-hover">
  <thead>
    <th><%-gettext("Question")%></th>
    <th><%-gettext("Used By")%></th>
    <th><%-gettext("In Property")%></th>
  </thead>
  <% _.each(tableData, function(refs, question) { %>
     <tr>
       <td><a class="link-to-question" href="#"><%- question %></a></td>
       <td></td>
       <td></td>
     </tr>
     <% _.each(refs, function(propName, path) {%>
       <tr class="usage-row">
         <td></td>
         <td><a class="link-to-question" href="#"><%- path %></a></td>
         <td><%- propName %></td>
       </tr>
     <% }); %>
   <% }); %>
</table>
