<div class="fd-ui-container">
    <div class="fd-toolbar">
        <div class="fd-form-actions pull-right btn-toolbar">
            <div class="btn-group fd-save-button"></div>
        </div>
        <div class="dropdown">
            <a class="fd-add-question dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">
                <i class="fa fa-plus"></i> Add Question
                <i class="fa fa-caret-down"></i>
            </a>
        </div>
    </div>
    <div class="fd-content fd-content-left">
        <div class="fd-tree">
            <div class="fd-head">
                <h2>Questions</h2>
                <div class="fd-head-menu-container">
                    <div class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">
                            <i class="fa fa-reorder"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu checklist fd-questions-menu" role="menu">
                            <li>
                                <a class="fd-button-copy">
                                    <i class="fa fa-copy"></i>
                                    Copy<span class="hotkey"><%-ctrl%>C</span>
                                </a>
                            </li>
                            <li>
                                <a class="fd-expand-all">
                                    <i class="fa fa-angle-double-down"></i>
                                    Expand All<span class="hotkey"><%-ctrl%><%-alt%>=</span>
                                </a>
                            </li>
                            <li>
                                <a class="fd-collapse-all">
                                    <i class="fa fa-angle-double-right"></i>
                                    Collapse All<span class="hotkey"><%-ctrl%><%-alt%>&ndash;</span>
                                </a>
                            </li>
                            <li class="divider fd-tools-menu"></li>
                        </ul>
                        <input type="hidden" class="fd-question-tree-display" />
                    </div>
                </div>
            </div>
            <div class="fd-undo-container"> </div>
            <div class="fd-scrollable fd-scrollable-tree">
                <div class="fd-question-tree"></div>
                <div class="hide fd-default-panel fd-default-qtree"></div>
            </div>
        </div>
        <div class="fd-external-sources-divider fd-content-left-divider fd-content-horizontal-divider"></div>
        <div class="fd-accessory-pane"></div>
    </div>
    <div class="fd-content fd-content-divider fd-content-vertical-divider"></div>
    <div class="fd-content fd-content-right">
        <div class="fd-column fd-question-properties hide">
            <div class="fd-head"><h2>Question Details</h2></div>
            <div class="fd-props-toolbar"></div>
            <div class="fd-scrollable fd-props-scrollable">
                <form class="form form-horizontal fd-props-content"></form>
            </div>
        </div>
        <div class="fd-xpath-editor fd-column hide">
            <div class="fd-head"><h2>Expression Editor</h2></div>
            <div class="fd-scrollable full">
                <div class="fd-xpath-editor-content"></div>
            </div>
        </div>
        <div class="fd-column hide fd-default-panel">
        </div>
    </div>

    <div class="fd-messages"></div>
</div>
<!-- Begin modal divs -->
<div class="fd-multimedia-modal-container"></div>
<div class="fd-modal-generic-container"></div>
<!-- end modal divs -->
