<div id="fd-ui-container">
    <div id="fd-toolbar" class="fd-toolbar">
        <div id="fd-form-actions" class="pull-right">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-wrench"></i> Tools
                    <span class="caret"></span>
                </a>
                <ul id="fd-tools-menu" class="dropdown-menu">
                </ul>
            </div>
            <div id="fd-save-button"></div>
        </div>
        <div id="fd-container-question-type-group"></div>
    </div>

    <div class="fd-row">
        <div class="fd-content fd-content-left">
           <div id="fd-question-tree-container" class="fd-tree">
                <div id="fd-question-tree-head" class="fd-head">Question Tree</div>
                <div class="fd-scrollable fd-scrollable-tree">
                    <div id="fd-question-tree-lang"></div>
                    <div id="fd-question-tree-actions" class="fd-panel-toolbar">
                        <div class="btn-group">
                            <button type="button" id="fd-expand-all" class="btn"><i class="icon-double-angle-down"></i> Expand All</button>
                            <button type="button" id="fd-collapse-all" class="btn"><i class="icon-double-angle-right"></i> Collapse All</button>
                        </div>
                    </div>
                    <div id="fd-question-tree"></div>
                </div>
            </div>
        </div>
        <div class="fd-content fd-content-divider"></div>
        <div class="fd-content fd-content-right">
            <div id="fd-question-properties" class="fd-column">
                <div id="fd-props-head" class="fd-head">Question Properties</div>
                <div id="fd-props-toolbar" class="fd-panel-toolbar"></div>
                <div id="fd-props-scrollable" class="fd-scrollable">
                    <form id="fd-props-content" class="form form-horizontal"></form>
                </div>
            </div>
            <div id="fd-xpath-editor" class="fd-column">
                <div id="fd-xpath-editor-head" class="fd-head">Expression Editor</div>
                <div class="fd-scrollable full">
                    <div id="fd-xpath-editor-content"></div>
                </div>
            </div>
            <div id="fd-default-panel" class="fd-column hide">
                <div class="well">
                    <h2>Welcome to your new form!</h2>
                    <p><i class="icon-arrow-left"></i> Please add a question to get started.</p>
                </div>
            </div>
        </div>

    </div>

    <div id="fd-messages"></div>

    <a id="inline" href="#data" style="display:none">This shows content of element who has id="data"</a>

    <div class="fd-dialog-confirm" title="Dialog Box"></div>
</div>
<!-- Begin modal divs -->
<div id="fd-multimedia-modal-container"></div>
<div id="fd-modal-generic-container"></div>
<!-- end modal divs -->
