<div>
    <div class="fd-help pull-right">
      <a tabindex="-1"
        data-title="<%-title%>"
        data-placement="right"
        data-content="<%=gettext("Use text formatting to <strong>bold</strong> and <em>italicize</em> words, use bulleted lists, and <a target='_blank' href='https://help.commcarehq.org/display/commcarepublic/Text+Formatting'>more</a>")%>"
      ></a>
    </div>
    <a class="turn-markdown-off markdown-trigger clearfix"><%-gettext("Turn Off Text Formatting")%></a>
    <a class="turn-markdown-on markdown-trigger clearfix"><%-gettext("Turn On Text Formatting")%></a>
</div>
