<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <% if (headerIcon) { %>
                <i class="<%=headerIcon%>"></i>
            <% } %>
            <%=title%>
        </h3>
    </div>
    <div class="modal-body form form-horizontal">
    </div>
    <div class="modal-footer">
        <% if (closeButtonTitle) { %>
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%=closeButtonTitle%></button>
        <% } %>
    </div>
</div>
