<div class="modal hide fade" id="<%= modalId %>">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Upload <%= mediaType %></h3>
    </div>
    <div class="modal-body form form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Select New <%= mediaType %>
            </label>
            <div class="controls">
                <div class="hqm-select-files-container">
                    <button class="hqm-select btn btn-primary" type="button">Select File</button>
                </div>
                <div class="hqm-queue"></div>
            </div>
        </div>
        <div class="control-group hqm-existing hide">
            <label class="control-label">
                Current <%= mediaType %>
            </label>
            <div class="controls">
            </div>
        </div>
        <div class="hqm-upload-form">
            <fieldset class="hqm-sharing hide">
                <legend>Multimedia Sharing Options</legend>
                <div class="control-group">
                    <label class="control-label" for="fd-mm-<%= mediaType %>-license">License</label>
                    <div class="controls">
                        <select name="license" id="fd-mm-<%= mediaType %>-license">
                            <option value="cc-nc">Creative Commons Attribution, Non-Commercial</option>
                            <option value="cc-nd">Creative Commons Attribution, No Derivatives</option>
                            <option value="cc" selected="selected">Creative Commons Attribution</option>
                            <option value="cc-nc-sa">Creative Commons Attribution, Non-Commercial, and Share Alike</option>
                            <option value="cc-nc-nd">Creative Commons Attribution, Non-Commercial, and No Derivatives</option>
                            <option value="cc-sa">Creative Commons Attribution, Share Alike</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="fd-mm-<%= mediaType %>-author">Author</label>
                    <div class="controls">
                        <input type="text"
                               name="author"
                               id="fd-mm-<%= mediaType %>-author"
                               placeholder="Enter the name of the author." />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="fd-mm-<%= mediaType %>-attribution">Attribution Notes</label>
                    <div class="controls">
                        <textarea name="attribution-notes"
                               id="fd-mm-<%= mediaType %>-attribution"
                               rows="2"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn disabled hqm-upload hqm-upload-confirm"><i class="icon-cloud-upload"></i> Begin Upload</a>
    </div>
</div>
