<div class="control-row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default fd-mm-path-show pull-right">
            <i class="fa fa-cog"></i>
            <%-gettext("Advanced: Show Path")%>
        </button>
        <div class="fd-mm-upload-trigger"></div>
    </div>
</div>
<div class="control-row">
    <div class="fd-mm-path hide col-sm-12">
        <button type="button" class="btn btn-default fd-mm-path-hide pull-right"><%-gettext("Hide Path")%></button>
        <div class="fd-mm-path-input"></div>
    </div>
</div>
