<div class="modal fade" id="<%= modalId %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%-gettext("Upload")%> <%= mediaType %></h4>
            </div>
            <div class="modal-body form form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        <%-gettext("Select new")%> <%= mediaType %>
                    </label>
                    <div class="col-sm-8">
                        <!-- TODO: put back the button -->
                        <!--div class="hqm-select-files-container">
                            <button class="hqm-select btn btn-primary" type="button"><%-gettext("Select File")%></button>
                        </div-->
                        <input type="file" />
                        <div class="hqm-queue"></div>
                    </div>
                </div>
                <div class="form-group hqm-existing hide">
                    <label class="col-sm-4 control-label">
                        <%-gettext("Current")%> <%= mediaType %>
                    </label>
                    <div class="col-sm-8 hqm-existing-controls">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal"><%-gettext("Close")%></a>
                <a class="btn btn-default disabled hqm-upload hqm-upload-confirm">
                    <i class="fa-solid fa-cloud-arrow-up"></i> <%-gettext("Begin Upload")%>
                </a>
            </div>
        </div>
    </div>
</div>
