<fieldset class="fd-question-fieldset" data-slug="<%= fieldsetSlug %>">
    <legend class="collapse-toggle<% if (isCollapsed) { %> collapsed<% } %>"
            data-toggle="collapse"
            data-target="#<%=fieldsetClass%>"
            aria-expanded="<% if (isCollapsed) { %> true<% } else { %>false<% } %>"
            aria-controls="<%=fieldsetClass%>"
    >
        <% if (help) { %>
        <div class="fd-help pull-right">
            <a href="#" class="help" tabindex="-1"
                data-title="<%=help.title%>"
                data-content="<%=help.text%><p><a target='_blank' href='<%=help.link%>'>See More</a></p>"
                data-placement="left">
            </a>
        </div>
        <% } %>
        <i class="fa fa-angle-double-down"></i>
        <%=fieldsetTitle%>
    </legend>
    <!-- todo: don't require passing a unique ID to this template or an
    interface that exposes it (i.e., allow passing a non-unique id and then
    append it to a random one, or something -->
    <div id="<%=fieldsetClass%>" class="<% if (isCollapsed) { %> collapse<% } else { %> in<% } %>">
        <div class="fd-fieldset-content"></div>
    </div>
</fieldset>
