<div class="fd-question-toolbar-container clearfix">
    <% if (isCopyable) { %><div class="btn-toolbar pull-left"></div><% } %>
    <div class="btn-toolbar pull-right">
        <% if (isDeleteable) { %>
            <button type="button" class="btn btn-danger fd-button-remove"  tabindex="-1">
                <i class="fa fa-trash-o"></i> <%-gettext("Delete")%>
            </button>
        <% } %>
        <% if (sections.length) { %>
            <div class="btn-group fd-section-changer">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-reorder"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right checklist">
                    <li class="dropdown-header"><%-gettext("Show")%></li>
                    <% _.each(sections, function(section) { %>
                    <li>
                        <a data-slug="<%= section.slug %>" <% if (section.show) { %>class="selected"<% } %>>
                            <i class="fa fa-check"></i><%= section.displayName %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>
</div>
<div class="alert alert-info fd-question-comment"
<% if (!comment) { %>
  style="display: none"
<% } %>
><%= comment %></div>
