<div class="btn-group fd-question-type-group <%= groupClass %> <% if (textOnly) { %>fd-question-type-group-advanced<% } %>">
    <% if (!textOnly) { %>
    <a class="btn btn-large fd-question-type fd-question-type-default"
       data-qtype="<%= defaultQuestion.slug %>"
       href="#">
        <span data-qlabel="<%= defaultQuestion.title %>">
            <i class="<%= defaultQuestion.icon %>"></i>
        </span>
    </a>
    <% } %>
    <% if (showDropdown) { %>
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#"><% if (textOnly) { %>
        <i class="<%= defaultQuestion.icon %>"></i> <%= defaultQuestion.title %>
        <% } %><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <% _.each(questions, function (question) { %>
        <li>
            <a class="fd-question-type"
               data-qtype="<%= question.slug %>"
               href="#">
                <% if (question.icon) { %><i class="<%= question.icon %>"></i><% } %> <%= question.title %>
            </a>
        </li>
        <% }); %>
    </ul>
    <% } %>
    <% _.each(relatedQuestions, function (related) { %>
    <a class="btn btn-large fd-question-type fd-question-type-related disabled"
       data-qtype="<%= related.slug %>"
       href="#">
        <span data-qlabel="<%= related.title %>">
            <i class="<%= related.icon %>"></i>
        </span>
    </a>
    <% }); %>
</div>
