<div class="fd-question-toolbar-container clearfix">
    <% if (isCopyable) { %><div class="btn-toolbar pull-left"></div><% } %>
    <div class="btn-toolbar pull-right">
        <% if (isDeleteable) { %>
            <button type="button" class="btn btn-danger fd-button-remove"  tabindex="-1">
                <i class="fa fa-trash-o"></i> Delete
            </button>
        <% } %>
        <% if (sections.length) { %>
            <div class="btn-group fd-section-changer">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-reorder"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right checklist">
                    <li class="dropdown-header">Show</li>
                    <% _.each(sections, function(section) { %>
                    <li>
                        <a href="#" data-slug="<%= section.slug %>" <% if (section.show) { %>class="selected"<% }
                        %>>
                            <i class="fa fa-check"></i><%= section.displayName %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>
</div>
<% if (comment) { %>
<div class="alert alert-info fd-question-comment">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= comment %>
</div>
<% } %>
