<fieldset class="fd-question-fieldset<% if (isCollapsed) { %> hide<% } %>" data-slug="<%= fieldsetSlug %>">
    <legend>
        <% if (help) { %>
        <div class="fd-help pull-right">
            <a href="#" class="help" tabindex="-1"
                data-title="<%=help.title%>"
                data-content="<%=help.text%><% if (help.link) { %><p><a target='_blank' href='<%=help.link%>'>See More</a></p><% } %>"
                data-placement="left">
            </a>
        </div>
        <% } %>
        <%=fieldsetTitle%>
    </legend>
    <!-- todo: don't require passing a unique ID to this template or an
    interface that exposes it (i.e., allow passing a non-unique id and then
    append it to a random one, or something -->
    <div id="<%=fieldsetClass%>">
        <div class="fd-fieldset-content"></div>
    </div>
</fieldset>
