<div class="btn-group question-type-changer">
    <a class="btn btn-default dropdown-toggle current-question"
        data-toggle="dropdown" href="#">
        <i class="<%=currentQuestionIcon%>"></i> 
        <%= currentTypeName %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <% if (questions.length === 0) { %>
            <li class="dropdown-header"><%-gettext("Cannot Change Question Type")%></li>
        <% } else { %>
            <li class="dropdown-header"><%-gettext("Change Question Type To")%></li>
            <% _.each(questions, function(question) { %>
            <li>
                <a href="#" class="change-question" data-qtype="<%=question.slug%>">
                    <i class="<%=question.icon%>"></i> <%=question.name%>
                </a>
            </li>
            <% }); %>
        <% } %>

    </ul>
</div>
