<% if (sections.length) { %>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-reorder"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right checklist" role="menu">
        <li class="dropdown-header">Show</li>
        <% _.each(sections, function(section) { %>
            <li>
                <a href="#" data-slug="<%= section.slug %>" <% if (section.show) { %>class="selected"<% } %>>
                    <i class="fa fa-check"></i><%= section.displayName %>
                </a>
            </li>
        <% }); %>
    </ul>
<% } %>
