<div class="fd-data-source-container">
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                Data Source Type:
            </label>
            <div class="controls">
                <select name="type-selector" class="input-block-level" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Data Source:
            </label>
            <div class="controls">
                <select name="source-selector" class="input-block-level" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                ID Query:
            </label>
            <div class="controls">
                <input name="source-query" type="text" class="input-block-level jstree-drop" />
            </div>
        </div>
    </fieldset>
</div>
