<div class="fd-undo-delete alert alert-<%= errors.length ? "danger" : "success" %> fade in">
  <button type="button" class="close">&times;</button>
  <%-gettext("You have deleted a question.")%> <a class="fd-undo"><%-gettext("Undo")%></a>
  <% if (errors.length) { %>
    <p><%
      print(format(
        ngettext(
          "Warning: {errs} is still referenced by other questions.",
          "Warning: {errs} are still referenced by other questions.",
          errors.length
        ),
        {errs: errors.join(", ")}
      ))
    %></p>
  <% } %>
</div>
