<% props[""] = {calculate: "", relevant: ""}; %>

<% _.each(props, function (v, k) { %>
  <div class="fd-attachment-property">
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-attachment-property-name form-control"
               value="<%-k%>" type="text" placeholder="<%-gettext("Node Name")%>"/>
      </div>
      <div class="col-sm-1">
        <a href="#" class="btn fd-remove-property btn-sm btn-danger">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-attachment-property-source form-control"
               value="<%-v['calculate']%>" type="text" placeholder="<%-gettext("Source")%>" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-attachment-property-from form-control"
               value="<%-v['from']%>" type="text" placeholder="<%-gettext("From")%>"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-attachment-name form-control"
               value="<%-v['name']%>" type="text" placeholder="<%-gettext("Attachment Name")%>"/>
      </div>
    </div>
  </div>
<% }); %>
