<% props[""] = {calculate: "", relevant: "", case_type: "", relationship: ""}; %>

<% _.each(props, function (v, k) { %>
  <div class="fd-index-property">
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-index-property-name form-control"
               value="<%-k%>" type="text" placeholder="<%-gettext("Relationship Identifier (e.g. parent or host)")%>"/>
      </div>
      <div class="col-sm-1">
        <a class="btn fd-remove-property btn-sm btn-danger">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-index-property-source form-control"
               value="<%-v['calculate']%>" type="text" placeholder="<%-gettext("Referenced Case ID")%>" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-index-property-case-type form-control"
               value="<%-v['case_type']%>" type="text" placeholder="<%-gettext("Referenced Case Type")%>"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-index-property-relationship form-control"
               value="<%-v['relationship']%>" type="text" placeholder="<%-gettext("Relationship (child or extension)")%>"/>
      </div>
    </div>
  </div>
<% }); %>
