<% props[""] = {calculate: "", relevant: ""}; %>

<% _.each(props, function (v, k) { %>
  <div class="fd-update-property">
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-update-property-name form-control"
               value="<%-k%>" type="text" placeholder="<%-gettext("Property Name")%>"/>
      </div>
      <div class="col-sm-1">
        <a class="btn fd-remove-property btn-sm btn-danger">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-update-property-source form-control"
               value="<%-v['calculate']%>" type="text" placeholder="<%-gettext("Calculation")%>" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11">
        <input class="fd-update-property-relevant form-control"
               value="<%-v['relevant']%>" type="text" placeholder="<%-gettext("Relevant")%>"/>
      </div>
    </div>
  </div>
<% }); %>
