<div class="fd-chips">
    <% _.each(chips, function(chip) { %>
    <button class="btn fd-chip btn-<%= chip.active ? 'primary' : 'default' %><%= chip.disabled ? ' disabled' : '' %>"
            data-slug="<%= chip.slug %>"
            <% if (chip.help) { %>
            data-toggle="tooltip"
            data-placement="top"
            data-container="body"
            title="<%- chip.help %>"
            <% } %>
            type="button">
        <%= chip.label %>
    </button>
    <% }); %>
</div>
