<div class="fd-xpath-editor-container form form-horizontal">

    <fieldset id="xpath-advanced" class="hide">
        <legend>
            <i class="icon-cog"></i> Edit Expression (Advanced)
            <button type="button" class="btn btn-primary pull-right xpath-mode-toggle" id="fd-xpath-show-simple-button">
                Show Simple Mode
            </button>
        </legend>
        <div class="alert hide" id="xpath-advanced-notice">
            <p>Sorry, your logic is too complicated for our logic builder.</p>
            <p>You can only edit this logic in Advanced Mode.</p>
        </div>
        <div class="control-group">
            <label class="control-label" for="fd-xpath-editor-text">
                XPath Expression:
            </label>
            <div class="controls">
                <textarea id="fd-xpath-editor-text"
                          rows="5"
                          class="input-block-level jstree-drop"></textarea>
                <p class="help-block">Hint: You can drag a question into the box.</p>
                <p class="help-block">
                    <a target="_blank"
                       href="https://help.commcarehq.org/display/commcarepublic/Common+Logic+and+Calculations">
                        <i class="icon-info-sign"></i> Guide to Common Logic and Calculations
                    </a>
                </p>
            </div>
        </div>
    </fieldset>

    <fieldset id="xpath-simple" class="hide fieldset-condensed">
        <legend>
            Edit Expression
            <button type="button" class="btn btn-inverse pull-right xpath-mode-toggle" id="fd-xpath-show-advanced-button">
                <i class="icon-cog"></i> Show Advanced Mode
            </button>
        </legend>
        <div class="control-group">
            <label class="control-label">Result is:</label>
            <div class="controls">
                <select class="input-block-level" id="top-level-join-select">
                    <% _.each(topLevelJoinOpts, function (opt) { %>
                    <option value="<%=opt[1]%>"><%=opt[0]%></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Expression:</label>
            <div class="controls">
                <div id="fd-xpath-editor-expressions"> expression pane</div>
                <p class="help-block pull-right">
                    <a target="_blank"
                       href="https://help.commcarehq.org/display/commcarepublic/Common+Logic+and+Calculations">
                        <i class="icon-info-sign"></i> Guide to Common Logic and Calculations
                    </a>
                </p>
                <p><button type="button" class="btn" id="fd-add-exp"><i class="icon-plus"></i> Add Expression</button></p>
            </div>
        </div>
    </fieldset>

    <div id="fd-xpath-validation-summary" class="hide"></div>

    <div id="fd-xpath-actions" class="form-actions form-actions-condensed">
        <button type="button" class="btn btn-primary" id="fd-xpath-save-button">Save</button>
        <button type="button" class="btn" id="fd-xpath-cancel-button">Cancel</button>
    </div>
</div>
