#formdesigner {
  .itext-lang-group-config {
    margin-right: 45px;
    margin-bottom: @gridGutterWidth;
    background: @navbarBackground;
    padding: @gridGutterWidth/2 @gridGutterWidth/2 @gridGutterWidth/2 0;
    .border-radius(10px);
    &:last-of-type {
      margin-bottom: 0;
    }

    .control-group:last-child {
      margin-bottom: 0;
    }
  }
}

.well-vellum {
  margin: 0 0 @gridGutterWidth;
  background-color: desaturate(lighten(@blueLight, 50), 40);
}

#formdesigner #fd-lang-disp-div.control-group {
  margin-bottom: 0;
  padding: @gridGutterWidth/4 0;
}

.fd-mm-preview-container {
  text-align: center;
  img {
    padding: .5em;
    background-color: @white;
    border: 1px solid @grayLighter;
    margin-bottom: @gridGutterWidth/2;
  }
}
.fd-mm-preview-container,
.fd-mm-upload-container {
  .btn { text-transform: capitalize; }
}

.fd-mm-upload-container {
  > .control-row {
    margin: 10px 10px 10px 0;
  }
}

.fd-mm-no-ref {
  color: @grayLight;
  background-color: @white;
  border: 1px solid @grayLighter;
  padding: @gridGutterWidth/2;

  i {
    display: block;
    font-size: @baseFontSize*4;
  }
}

#formdesigner .itext-language-section .control-label {
  text-transform: capitalize;
}

#formdesigner #fd-messages {
  .alert {
    .box-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
    margin: @gridGutterWidth;
  }
}

#formdesigner .fd-toolbar .tooltip {
  .tooltip-inner { .box-shadow(0px 0px 10px rgba(255, 255, 255, 0.75)); }
  &.in {
    .opacity(100);
  }
}
