#formdesigner .fd-toolbar {
  padding: 5px;
  margin-top: 0px;
  vertical-align: middle;
}

#formdesigner .fd-scrollable {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: @containerHeight;

  &.fd-scrollable-tree {
    overflow-x: auto;
    height: @containerHeight - 200;
  }
}


