<div id="fd-ui-container">
    <div id="fd-notify"></div>

    <div id="fd-toolbar" class="fd-toolbar">
        <div id="fd-add-question-button" class="questionButton toolbarButton">
            <span id="fd-add-question-but"></span>Text Question
        </div>
        <div id="fd-add-group-button" class="questionButton toolbarButton">
            <span id="add-group-but"></span>Group
        </div>
        <div id="fd-add-select-button" class="questionButton toolbarButton">
            <span id="add-select-but"></span>Multi-Select Question
        </div>
        <div id="fd-add-item-button" class="questionButton toolbarButton">
            <span id="add-item-but"></span>Select Item
        </div>
        <div id="fd-add-1select-button" class="questionButton toolbarButton">
            <span id="add-1select-but"></span>Single Select
        </div>
        <div id="fd-add-trigger-button" class="questionButton toolbarButton">
            <span id="add-trigger-but"></span>Add a Trigger
        </div>
        <div id="fd-add-repeat-button" class="questionButton toolbarButton">
            <span id="add-repeat-but"></span>Repeat
        </div>
        <div id="fd-add-int-button" class="questionButton toolbarButton">
            <span id="add-int-but"></span>Integer Number
        </div>
        <div id="fd-add-double-button" class="questionButton toolbarButton">
            <span id="add-double-but"></span>Double Number
        </div>
        <div id="fd-add-long-button" class="questionButton toolbarButton">
            <span id="add-long-but"></span>Long Number
        </div>
        <div id="fd-add-date-button" class="questionButton toolbarButton">
            <span id="add-date-but"></span>Date
        </div>
        <div id="fd-add-datetime-button" class="questionButton toolbarButton">
            <span id="add-datetime-but"></span>Date and Time
        </div>



    </div>
    <div id="fd-trees">
        <div id="fd-question-tree" class="fd-tree"></div>
        <div id="fd-data-tree" class="fd-tree"></div>
    </div>
    <div id="fd-question-properties" class="fd-question-properties"></div>
    <div id="extra-tools"><h1>Some stuff here</h1></div>

</div>