<div id="fd-ui-container">
    <div id="fd-messages"></div>
    <div id="fd-toolbar" class="fd-toolbar">
        <div id="fd-form-actions" class="pull-right">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-wrench"></i> Tools
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="fd-load-xls-button" tabindex="-1" href="#">Edit Bulk Translations</a></li>
                    <li><a id="fd-export-xls-button" tabindex="-1" href="#">Export Form Contents</a></li>
                    <li><a id="fd-editsource-button" tabindex="-1" href="#">Edit Source XML</a></li>
                    <li>
                        <a tabindex="-1" href="#fd-form-opts" data-toggle="modal">Form Properties</a>
                    </li>
                </ul>
            </div>
            <div id="fd-save-button"></div>
        </div>
        <div id="fd-container-question-type-group"></div>
    </div>
    <div id="fd-question-tree-container" class="fd-tree">
        <div id="fd-question-tree-head" class="fd-head ui-widget-header">Question Tree</div>
        <div>
            <button id="fd-expand-all" class="btn">Expand All</button>
            <button id="fd-collapse-all" class="btn">Collapse All</button>
        </div>
        <div id="fd-question-tree"></div>
    </div>
    <div id="fd-question-properties" class="fd-question-properties">
        <div id="fd-props-head" class="fd-head ui-widget-header">Question Properties</div>
        <div id="fd-props-content"></div>
    </div>
    <div id="fd-xpath-editor" class="fd-xpath-editor">
        <div id="fd-xpath-editor-head" class="fd-head ui-widget-header">Expression Editor</div>
        <div id="fd-xpath-editor-content"></div>
    </div>

    <a id="inline" href="#data" style="display:none">This shows content of element who has id="data"</a>
    <!--<div id="fd-form-paste"><textarea rows="20" cols="20" id="fd-form-paste-textarea"></textarea> <textarea rows="10" cols="10" id="fd-form-paste-output">output</textarea></div>-->
    <div style="display:none">
        <div id="data">
            <div id="fd-source-help"></div>
            <textarea id="fd-source" class="span11" style="min-height: 300px;"></textarea>
            <div id="fd-source-controls"></div>
        </div>
    </div>

    <div class="modal hide fade" id="fd-form-opts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Form Properties</h3>
        </div>
        <div class="modal-body">
            <ul id="fd-form-opts-ul" class="fd-props-ul">
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <div id="fd-dialog-confirm" title="Dialog Box">
	    
    </div>

    <div id="fd-multimedia-modal-container"></div>

</div>

<script type="text/template" id="fd-question-type-group-template">
    <div id="<%= groupID %>" class="btn-group fd-question-type-group <% if (textOnly) { %>fd-question-type-group-advanced<% } %>">
        <% if (!textOnly) { %>
        <a class="btn btn-large fd-question-type fd-question-type-default"
           data-qtype="<%= defaultQuestion.slug %>"
           href="#">
            <span data-qlabel="<%= defaultQuestion.title %>">
                <i class="<%= defaultQuestion.icon %>"></i>
            </span>
        </a>
        <% } %>
        <% if (showDropdown) { %>
        <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#"><% if (textOnly) { %>
            <i class="<%= defaultQuestion.icon %>"></i> <%= defaultQuestion.title %>
            <% } %><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <% _.each(questions, function (question) { %>
            <li>
                <a class="fd-question-type"
                   data-qtype="<%= question.slug %>"
                   href="#">
                    <% if (question.icon) { %><i class="<%= question.icon %>"></i><% } %> <%= question.title %>
                </a>
            </li>
            <% }); %>
        </ul>
        <% } %>
        <% _.each(relatedQuestions, function (related) { %>
        <a class="btn btn-large fd-question-type fd-question-type-related disabled"
           data-qtype="<%= related.slug %>"
           href="#">
            <span data-qlabel="<%= related.title %>">
                <i class="<%= related.icon %>"></i>
            </span>
        </a>
        <% }); %>
    </div>
</script>

<script type="text/template" id="fd-template-multimedia-modal">
    <div class="modal hide fade" id="<%= modalId %>">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload <%= mediaType %></h3>
        </div>
        <div class="modal-body form form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    Select New <%= mediaType %>
                </label>
                <div class="controls">
                    <div class="hqm-select-files-container">
                        <button class="hqm-select btn btn-primary" role="button">Select <%= mediaType %></button>
                    </div>
                    <div class="hqm-queue"></div>
                </div>
            </div>
            <div class="control-group hqm-existing hide">
                <label class="control-label">
                    Current <%= mediaType %>
                </label>
                <div class="controls">
                </div>
            </div>
            <div class="hqm-upload-form">
                <fieldset>
                    <legend>Upload Options</legend>
                    <div class="control-group">
                        <label class="control-label">Share <%= mediaType %></label>
                        <div class="controls">
                            <label class="checkbox"><input class="hqm-share-media" name="shared" value="t" type="checkbox" /> Yes, share my <%= mediaType %>.</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="hqm-sharing hide">
                    <legend>Multimedia Sharing Options</legend>
                    <div class="control-group">
                        <label class="control-label" for="fd-mm-<%= mediaType %>-license">License</label>
                        <div class="controls">
                            <select name="license" id="fd-mm-<%= mediaType %>-license">
                                <option value="cc-nc">Creative Commons Attribution, Non-Commercial</option>
                                <option value="cc-nd">Creative Commons Attribution, No Derivatives</option>
                                <option value="cc" selected="selected">Creative Commons Attribution</option>
                                <option value="cc-nc-sa">Creative Commons Attribution, Non-Commercial, and Share Alike</option>
                                <option value="cc-nc-nd">Creative Commons Attribution, Non-Commercial, and No Derivatives</option>
                                <option value="cc-sa">Creative Commons Attribution, Share Alike</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fd-mm-<%= mediaType %>-author">Author</label>
                        <div class="controls">
                            <input type="text"
                                   name="author"
                                   id="fd-mm-<%= mediaType %>-author"
                                   placeholder="Enter the name of the author." />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fd-mm-<%= mediaType %>-attribution">Attribution Notes</label>
                        <div class="controls">
                            <textarea name="attribution-notes"
                                   id="fd-mm-<%= mediaType %>-attribution"
                                   rows="2"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn disabled hqm-upload hqm-upload-confirm"><i class="icon-cloud-upload"></i> Begin Upload</a>
        </div>
    </div>
</script>

<script type="text/template" id="fd-template-multimedia-queue">
    <div id="<%= unique_id %>" style="clear: both;">
        <div class="alert alert-success" style="margin-bottom: 2px; margin-top: 10px;">
            <i class="icon-ok"></i> <%= file_name %> <strong>[<%= file_size %> MB]</strong>
        </div>
        <div class="hqm-progress">
            <div class="progress progress-striped active" style="margin-bottom: 5px;">
                <div class="bar" style="width: 0%;"></div>
            </div>
            <p class="text-success hqm-begin">
                Ready to upload. Click <strong>Begin Upload</strong> below to start.
            </p>
            <p class="text-error hqm-error hide">
                <span class="label label-important">There were errors.</span>
            </p>
            <a href="#" class="btn btn-inverse btn-mini pull-right hqm-remove">
                <i class="icon-remove"></i> Select another file
            </a>
            <a href="#" class="btn btn-danger btn-mini pull-right hqm-cancel hide">
                <i class="icon-remove"></i> Cancel Upload
            </a>
        </div>
        <div class="hqm-status"></div>
    </div>
</script>

<script type="text/template" id="fd-template-multimedia-errors">
    <% if (errors.length > 0) { %>
        <div class="alert alert-error">
            <h5>Errors found</h5>
            <% for (var e = 0; e < errors.length; e++) {
                var error = errors[e]; %>
                <p><%= error %></p>
            <% } %>
        </div>
    <% } %>
</script>
